.main-body,
.main-Categ {
	width: calc(100% - 160px);
	display: inline-block;
	background: #fff;
	height: 100%;
}
.main-body {
	.container-fluid{
		padding: 0;
		height: 100%;
	}
	.wrapperCuentas {
		padding: 0;
		border-right: 1px solid $grey;
		width: 280px;
		display: inline-block;
		height: 100%;
		.cuentas-list{
			.cuentas-item{
				cursor:pointer;
				border-top: 1px solid #f3f4f7;
				width: 100%;
				display: block;
				padding: 10px 20px;
				border-left: 5px solid transparent;
				@include transition(all 0.4s 0s ease-out);
				&:hover:not(.item-activo){
					background: #f3f4f7;
					border-left: 5px solid #f3f4f7;
				}
			}
			.item-activo{
				background: #f3f4f7;
				border-left: 5px solid #5040b2;
			}
			.cuentas-item__nombre{
				color: #555;
				margin: 0;
				font-size: 13px;
			}
			.cuentas-item__badge{
				font-size: 9px;
				color: #fff;
				text-transform: uppercase;
			}
			.cuentas-item__badge--efectivo{
				background: $purple;
			}
			.cuentas-item__badge--banco{
				background: $lightblue;
			}
			.cuentas-item__monto{
				padding-left: 8px;
				font-size: 16px;
			}
			.cuentas-item__fecha{
				float: right;
				color: #a2a2a2;
				font-size: 11px;
			}
		}
	}
	.wrapperDetalle{
		display: inline-block;
		width: calc(100% - 280px);
		vertical-align: top;
		.panel-header{
			padding: 15px 20px;
			h3{
				font-size: 18px;
				color: $purple;
			}
		}
	}
}

.main-Categ {
	.container-fluid {
		h5 {
			margin: 20px 0 10px;
			font-size: 16px;
		}
		table {
			th,
			td {
				font-size: 12.5px;
			}
		}
	}
}

.headerSeccion {
	vertical-align: middle;
	padding-right: 15px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;

	padding: 10px 15px;
	border-bottom: 2px solid #f3f4f7;
	& > span {
		display: inline-block;
		vertical-align: middle;
		padding-right: 15px;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 500;
		color: $purple;
	}
	.btn > span {
		margin-left: 5px;
	}
}
