.btn {
	background-color: $purple;
	border-radius: 3px;
	color: #fff !important;
	padding: 6px;
	font-size: 13px;
	text-transform: capitalize;
}

.btn-primary {
	background-color: $blue;
	color: $white;
}

.btn-error {
	background-color: $red;
	color: $white;
}
