header {
	color: $purple;
	border-bottom: 1px solid $grey;
	background: #fff;
}
.navbar-collapse {
	position: absolute;
	right: 10px;
	.navbar-text {
		margin: 0 15px;
	}
	.userName {
		margin: 0 5px;
	}
}
