.sidebar {
	width: 160px;
	display: inline-block;
	border-right: 1px solid #e6e6e6;
	height: 100%;
	vertical-align: top;
	background: #fff;
	ul {
		list-style: none;
		padding: 0;
		a {
			font-size: 14px;
			width: 100%;
			display: block;
			padding: 13px 12px;
			cursor: pointer;
			border-left: 5px solid #fff;
			@include transition(all 0.4s 0s ease-out);
			span {
				margin-left: 5px;
				color: $dark;
			}
			svg{
				@include transition(all 0.4s 0s ease-out);
			}
			&:hover {
				background: #f1f1f1;
				border-left: 5px solid #f1f1f1;
				svg,
				span {
					color: $purple;
				}
			}
		}
		li.active {
			a {
				background: #f1f1f1;
				border-left: 5px solid $purple;
				svg,
				span {
					color: $purple;
				}
			}
		}
	}
}
