$blue: #54a0ff;
$green: #1dd1a1;
$red: #ff6b6b;
$grey1: #c8d6e5;
$grey2: #576574;
$white: #fff;

$purple: #5040b2;
$lightblue: #03a9f4;
$dark: #444;
$grey: #e6e6e6;
$red: #e74f5d;
$green: #57b957;

$texto: #666;
